<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h2>Student Dashboard (Top → Low)</h2>
<a href="/">Add New Student</a>

<h3>Search Student</h3>
<input id="search">
<button onclick="searchStudent()">Search</button>
<div id="result"></div>

<h3>Class Statistics</h3>
<button onclick="stats()">View Statistics</button>
<div id="stats"></div>

<h3>Ranked Students</h3>

{% for s in students %}
<form method="post" action="/update/{{ s.id }}">
<b>{{ loop.index }}. {{ s.name }}</b> ({{ s.class_name }})<br>

Math:
<input name="math" value="{{ s.grades.math.mark }}">
Grade: <b>{{ s.grades.math.grade }}</b><br>

Science:
<input name="science" value="{{ s.grades.science.mark }}">
Grade: <b>{{ s.grades.science.grade }}</b><br>

English:
<input name="english" value="{{ s.grades.english.mark }}">
Grade: <b>{{ s.grades.english.grade }}</b><br>

<button>Update</button>
</form>
<hr>
{% endfor %}

<script>
function searchStudent(){
    fetch("/search?name=" + document.getElementById("search").value)
    .then(r => r.json())
    .then(d => {
        document.getElementById("result").innerHTML =
            d.map(s => s.name + " - " + s.class_name).join("<br>");
    });
}

function stats(){
    fetch("/stats")
    .then(r => r.json())
    .then(d => {
        document.getElementById("stats").innerHTML =
            "Class Average: " + d.class_avg + "<br>Top Student: " + d.top;
    });
}
</script>

</body>
</html>
